*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none; border: none;
}
header{
    background-image: url(../1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}


ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 10px;
    border: 1px solid white;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: white;
    color: black;
}
footer{
    height: 12vh;
    background-color: black;
}
.icon{
    float: right;
    list-style: none;
    margin-top: auto;
}
.image{
    color: white;
    font-size: medium;
}
